.slider {
  /* position: relative; */
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  border-radius: 4%;
}
.slide {
  opacity: 0;
  transition-duration: 1s;
}
.slideActive {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}
.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
}
.rightArrow {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.leftArrow {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
