/* .aboutContainer {
  padding-top: 10rem;
} */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.aboutContainer {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.aboutme {
  align-self: center;
  padding-top: 10rem;
}
.aboutContainer h1,
h2,
h4 {
  font-family: "Bebas Neue";
}

.img {
  border-radius: 50%;
  margin-right: 2%;
}

.contentContainer {
  display: flex;
  align-self: center;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .img {
    border-radius: 50%;
    width: 15em;
    height: 15em;
  }
}
