.carousel {
  width: 100%;
  height: 35vh;
  /* background-color: tomato; */
  animation-name: appear;
  animation-duration: 2s;
  animation-direction: reverse;
}
.carouselInner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.carouselInner .left {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.carouselInner .center {
  flex: 90%;
  height: 100%;
  background-color: transparent;
}
.carouselInner .right {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  display: grid;
  place-items: center;
  cursor: pointer;
}
