@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

body {
  background-image: linear-gradient(to right, #7474bf, #348ac7);
  /* background-color: darkmagenta; */
  color: white;
}

a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.contentContainer {
  animation-name: showContent;
  animation-duration: 2s;
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
