@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

body {
  background-color: #2978b5;
  /* background-color: darkmagenta; */
  color: white;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
